body{
  font-family: "Montserrat", sans-serif;
}


#title{
  background-color: #ff4c68;
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;

}

h2{
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Title Image */
.iphone{
  transform: rotate(25deg);
  width: 60%;
  margin-left: 80px;
  /* margin-top: 60px; */

}

.title-head{
  color: white;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
    }

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download Buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* Features Section */

#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 4.5%;
}



h3{
  color:"Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
}

p{
  color:#8f8f8f
}

.icon{
  color: #ef8172;
  font-size: 3rem;
  margin-bottom: 1rem;


}

.icon:hover{
  color: #ff4c68;
}


/* Testimonials Section */

#testimonials{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */

#press{
  background-color: #ef8172
  text-align: center;
  padding-bottom: 3%;
}
