body{
  font-family: "Montserrat", sans-serif;
}


#title{
  background-color: #ff4c68;
}

.container-fluid{
  padding: 3% 15%;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}

.iphone{
  transform: rotate(20deg);
  max-width: 80%;
  max-height: 80%;
  margin-left: 100px;
  margin-top: 60px;

}

.title-head{
  color: white;
}

/* Navigation Bar */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
    }

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
